/* src/styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fbeffb;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;    /* Centers content vertically */
    height: 100vh;          /* Full viewport height */
    text-align: center;     /* Centers text within its container */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers child elements horizontally */
    justify-content: center; /* Centers child elements vertically */
    text-align: center; /* Centers text within the container */
    
  }
  
  .button {
    display: flex;
    padding: 10px 20px;
    background-color: #ff6fa7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    animation: scale 2s ease-in-out infinite;
    
  }
  
  .button:hover {
    background-color: #ff4f8a;
  }
  
  .heart {
    font-size: 30px;
    color: #ff6fa7;
    margin-top: 20px;
    animation: pulse 1s ;
    font-size: 18px;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
 .bunny {
    width: 500px;
    height: 500px;
    border-radius: 25px;
 }
